[submodule "x3"]
	path = x3
	url = git@github.com:evilnet/x3.git
	branch = master
[submodule "nefarious"]
	path = nefarious
	url = git@github.com:evilnet/nefarious2.git
	branch = master
[submodule "linesync-data"]
	path = linesync-data
	url = git@github.com:MrLenin/gitsync-test.git
