services:

  nefarious:
    container_name: nefarious
    build:
        context: ./docker/nefarious
        dockerfile: Dockerfile
    privileged: true
    networks:
      test_net:
        ipv6_address: fec0:3200::99
    volumes:
      - ./data/nefarious/ircd_local.conf:/home/nefarious/ircd/local.conf
    ports:
      - 6667:6667
      - 4497:4497
      - 9998:9998
    environment:
      - NET_PREFIX=fec0:3201:42:42::1/64
      - NET_VIA=fec0:3200::92
      - IRCD_GENERAL_NAME=testnet.loxxin.net
      - IRCD_GENERAL_DESCRIPTION=TestNet Server
      - IRCD_GENERAL_NUMERIC=99
      - IRCD_ADMIN_LOCATION=us
      - IRCD_ADMIN_CONTACT=support@afternet.org

networks:
  test_net:
    enable_ipv6: true
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.1.2.0/24
        - subnet: fec0:3200::1/64
