services:

  nefarious:
    container_name: nefarious
    build:
        context: ./nefarious
        dockerfile: Dockerfile
        additional_contexts:
          - data=./data
    privileged: true
    networks:
      irc_net:
        ipv4_address: 172.28.0.2
        aliases:
          - testnet.fractalrealities.net
    command: ["/home/nefarious/bin/ircd", "-n", "-x", "8", "-f", "ircd.conf"]

    volumes:
     - ./data/ircd.conf:/home/nefarious/ircd/local.conf
     - ./data/saslusers:/home/nefarious/ircd/saslusers
     - history_data:/home/nefarious/ircd/history
     - metadata_data:/home/nefarious/ircd/metadata
#      - ./data/:/home/nefarious/data
    ports:
      - 127.0.0.1:6667:6667
      - 127.0.0.1:6697:6697
      - 127.0.0.1:4497:4497
      - 127.0.0.1:9998:9998
    env_file:
      - .env
      - .env.local
    healthcheck:
      test: ["CMD", "pgrep", "-x", "ircd"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  x3:
    container_name: x3
    build:
      context: ./x3
      dockerfile: Dockerfile
      additional_contexts:
        - data=./data
    networks:
      irc_net:
        ipv4_address: 172.28.0.3
        aliases:
          - x3.fractalrealities.services
    depends_on:
      nefarious:
        condition: service_healthy
    env_file:
      - .env
      - .env.local
    volumes:
      - ./x3data/:/x3/data
      - ./data/x3.conf:/x3/x3.conf

  integration-tests:
    container_name: integration-tests
    build:
      context: ./tests
      dockerfile: Dockerfile
    networks:
      - irc_net
    depends_on:
      nefarious:
        condition: service_healthy
    profiles:
      - test
    volumes:
      - ./tests/src:/tests/src:ro

##  authentik-ldap:
##    image: ghcr.io/goauthentik/ldap
##      #      networks:
##      #  - nginx
##    ports:
##        - 127.0.0.1:389:3389
##        - 127.0.0.1:636:6636
##    env_file:
##      - .env
##      - .env.local

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.4.7
    ports:
      - 127.0.0.1:8080:8080
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
    command: start-dev
    volumes:
      - keycloak_data:/opt/keycloak/data

volumes:
  keycloak_data:
  history_data:
  metadata_data:
#  x3_data:

networks:
  irc_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/24
